<div class = "row">
  <div class = "message" data-time="<%= message.created_at.to_i %>">
    <blockquote>
      <div class = "span2">
        <ul class="thumbnails">
          <li class="span1", style = "display:inline">
            <% if message.cartoon == nil %>
              <% c = Cartoon.first(:order =>"RANDOM()") %>
              <% message.cartoon = c %>
              <% message.save %>
            <% else %>
              <% c = message.cartoon %>
            <% end %>
            <%= link_to image_tag(c.url,alt:""),'#' %>
        </li>
      </ul>
    </div>
      <div class = "span14">
        <p>
          <b>
            <%= message.content %>
          </b>
         <%= link_to "Mark as Read", {:controler=>"messages",:action=>"destroy",:id=>message.id} %>
        </p>
        <small><%= message.cartoon.name %></small>
      </div>
    </blockquote>
  </div>
</div>
